<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <div class="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img
              class="carousel-img"
              id="carousel-img-1"
              src="https://imgs.search.brave.com/nEXejr9b6h59ocQKO8NQIobxqwNgWuzrIY5MTAgzLSA/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9w/dXJwbGUtb3N0ZW9z/cGVybXVtLWRhaXN5/LWZsb3dlcl8xMzcz/LTE2LmpwZz9zZW10/PWFpc19oeWJyaWQm/dz03NDA"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              class="carousel-img"
              id="carousel-img-2"
              src="https://imgs.search.brave.com/BhSXw76y6h_HEP73V2GG3IV_23hBLaY2EmTcXdlavUo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA3LzU2LzkxLzk2/LzM2MF9GXzc1Njkx/OTY0Nl9jZjhmQTZ5/TEJxV3p6bk0wSndO/aE9mUU45cm5FbG5k/Vy5qcGc"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              class="carousel-img"
              id="carousel-img-3"
              src="https://imgs.search.brave.com/I3l_Gk90Nk0vDGVKEKfSdxihzYqadzt1aj34q1XToFA/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9ibG9n/LmxvZ3JvY2tldC5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MjMvMDYvR3VpZGUt/c3R5bGluZy1DU1Mt/c2Nyb2xsYmFycy5w/bmc"
              alt=""
            />
          </div>
        </div>
        <div class="carousel-navigation">
          <ol>
            <li>
              <a href="#carousel-img-1"></a>
            </li>
            <li>
              <a href="#carousel-img-2"></a>
            </li>
            <li>
              <a href="#carousel-img-3"></a>
            </li>
          </ol>
        </div>
      </div>
      <article>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
          magnam nam eveniet accusamus iusto ut dolorum praesentium, facilis,
          dolorem repellat alias aliquid suscipit nostrum repudiandae asperiores,
          officiis aspernatur? Aliquam officiis enim vel mollitia magnam
          laudantium necessitatibus consequatur eligendi debitis voluptatum quos
          nisi dolores, dolore et repellat officia dolor fugiat reprehenderit.
        </p>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus incidunt omnis iure dolores eveniet, sequi, dolore ratione nostrum, harum placeat laboriosam voluptatibus odio doloribus. Necessitatibus quaerat impedit reprehenderit id voluptatem, nihil sint eius. Reprehenderit, sequi.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum minus earum quidem alias perspiciatis, quisquam beatae veniam architecto non velit, delectus dolorem voluptas tempore in dignissimos explicabo impedit voluptate commodi atque provident maxime, qui dolor. Consequatur sit ipsa aliquam dicta distinctio dolores ut officia? At itaque aliquid et ducimus aut modi, dolor dolorum nihil expedita, in tempora iusto architecto. Nisi.
          </p>
      </article>
    </div>

  </body>
</html>
