<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>

    <div class="navbar">
        <div class="navbar-logo">
            Navbar
        </div>
        <nav class="navbar-nav">
            <ul>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Home</a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">About</a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    
    <script src="navbar.js"></script>
</body>

</html>