<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion</title>
  </head>
  <style>
    html{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .container{
        padding: 12px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgb(84, 84, 84);
    }

    .accordion-title{
        border-bottom: 1px solid black;
        margin-top: 10px;
    }


    .accordion-description{
        text-align: justify;
        line-height: 1.5;
    }

  </style>
  <body>
    <div class="container">
        <details>
          <summary class="accordion-title">        Menu
        </summary>
          <p class="accordion-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
            commodi necessitatibus nostrum nulla atque ipsum at tempore, hic
            laboriosam tenetur repudiandae sit similique facere.
          </p>
        </details>
        <details>
          <summary class="accordion-title">        Menu
        </summary>
          <p class="accordion-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
            commodi necessitatibus nostrum nulla atque ipsum at tempore, hic
            laboriosam tenetur repudiandae sit similique facere.
          </p>
        </details>
        <details>
          <summary class="accordion-title">        Menu
        </summary>
          <p class="accordion-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
            commodi necessitatibus nostrum nulla atque ipsum at tempore, hic
            laboriosam tenetur repudiandae sit similique facere.
          </p>
        </details>
    </div>
  </body>
</html>
